# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Data, checkpoints, and large artifacts
data/*
!data/.gitkeep
checkpoints/*
!checkpoints/.gitkeep
models/*
!models/.gitkeep
outputs/*
!outputs/.gitkeep

# Dataset and Lab6 (external folders)
MIT_Indoor_Scenes_2009/
csc4005-lab6-onnx-starter-kit-khmt_1701_nhom09/

*.zip
*.tar
*.tar.gz
*.pt
*.pth
*.ckpt
*.onnx
*.ort

# Experiment tracking
wandb/

# OS / IDE
.DS_Store
.vscode/
.idea/
/.github
